@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    animation: fade 0.5s ease-in;
}

#flex {
    margin: 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#content {
    width: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#controls {
    width: 300px;
    height: 400px;
    padding: 10px 10px;
}

#gameFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#status {
    width: 400px;
    height: 25px;
    padding: 4px 10px;
    text-align: right;
}

#canvasContainer {
    width: 400px;
    height: 400px;
}

#info {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 53px;
    width: 400px;
    height: 400px;
    padding: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    line-height: 12px;
    white-space: pre;
}

#graph {
    width: 710px;
    height: 200px;
    padding: 8px 8px;
}

.slider {
    padding: 16px 10px;
}

.button {
    width: 85px;
    margin: 4px !important;
}

.hidden {
    visibility: hidden;
}
